<form class="example-form back2" [formGroup]="loginForm"> 
    <div class="conteiner">
        <div class="row">
            <div class="col-4">
                <h5 class="pl-3">Особисті данні</h5>
                <div class="data-group">
                    <mat-form-field class="form-group example-full-width" appearance="outline">
                        <mat-label>Прізвище</mat-label>
                        <input type="text" matInput placeholder="{{'Last name'}}" formControlName="prizv">
                        <mat-error *ngIf="!loginForm.get('prizv').valid">
                            {{'Please enter a last name'}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-group example-full-width" appearance="outline">
                        <mat-label>Ім'я</mat-label>
                        <input type="text" matInput placeholder="{{'Name'}}" formControlName="name">
                        <mat-error *ngIf="!loginForm.get('name').valid">
                            {{'Please enter a name'}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-group example-full-width" appearance="outline">
                        <mat-label>По-батькові</mat-label>
                        <input type="text" matInput placeholder="{{'pobatkovi'}}" formControlName="pobatkovi">
                        <!-- <mat-error *ngIf="!loginForm.get('prizv').valid">
                            {{'Please enter a pobatkovi'}} 
                        </mat-error> -->
                    </mat-form-field>

                    <mat-form-field class="form-group example-full-width" appearance="outline">
                        <mat-label>Стать</mat-label>
                        <mat-select placeholder="{{'gender'}}" formControlName="gender">
                            <mat-option value='male'>male</mat-option>
                            <mat-option value='female'>female</mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="!loginForm.get('prizv').valid">
                            {{'Please enter'}}
                        </mat-error> -->
                    </mat-form-field>
                </div>
            </div>

            <div class="col-4">
                <h5 class="pl-3">Контактні дані</h5>
                <div class="data-group">
                    <mat-form-field class="form-group example-full-width" appearance="outline">
                        <mat-label>Країна</mat-label>
                        <mat-select placeholder="{{'Країна'}}" formControlName="countryid">
                            <mat-option value=1>Україна</mat-option>
                            <mat-option value=2>Польща</mat-option>
                            <mat-option value=3>Німеччина</mat-option>
                        </mat-select>
                        <mat-error *ngIf="!loginForm.get('countryid').valid">
                            {{'Будь ласка введіть країну'}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-group example-full-width" appearance="outline">
                        <mat-label>Регіон</mat-label>
                        <mat-select placeholder="{{'Область'}}" formControlName="regionid">
                            <ng-container *ngFor="let item of region">
                                <mat-option value='{{item.regionid}}'>{{item.teretory}}</mat-option>
                            </ng-container>
                        </mat-select>
                        <mat-error *ngIf="!loginForm.get('regionid').valid">
                            {{'Будь ласка введіть область'}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-group example-full-width" appearance="outline">
                        <mat-label>Місто</mat-label>
                        <input type="text" matInput placeholder="{{'City'}}" formControlName="city">
                        <mat-error *ngIf="!loginForm.get('city').valid">
                            {{'Please enter a city'}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-group example-full-width" appearance="outline">
                        <mat-label>Електорнонна пошта</mat-label>
                        <input type="email" matInput placeholder="{{'Email'}}" formControlName="email">
                        <mat-error *ngIf="!loginForm.get('email').valid">
                            {{'Please enter a valid email address'}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-group example-full-width" appearance="outline">
                        <mat-label>Мобільний телефон</mat-label>
                        <input type="text" matInput placeholder="{{'Cellphone'}}" formControlName="cellphone">
                        <mat-error *ngIf="!loginForm.get('cellphone').valid">
                            {{'Please enter a cellphone'}}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="col-4">
                <h5 class="pl-3">Інша інформація</h5>
                <div class="data-group">
                    <mat-form-field class="form-group example-full-width" appearance="outline">
                        <mat-label>Місце роботи</mat-label>
                        <input type="text" matInput placeholder="{{'m_robotu'}}" formControlName="m_robotu">
                    </mat-form-field>

                    <mat-form-field class="form-group example-full-width" appearance="outline">
                        <mat-label>Посада</mat-label>
                        <input type="text" matInput placeholder="{{'posada'}}" formControlName="posada">
                    </mat-form-field>

                    <mat-form-field class="form-group example-full-width" appearance="outline">
                        <mat-label>Сфера діяльності</mat-label>
                        <input type="text" matInput placeholder="{{'sferadij'}}" formControlName="sferadij">
                    </mat-form-field>

                    <div class="reg-form2 mb-5">
                        <mat-expansion-panel class="reg-form3">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="">Потенційне відвідування</mat-panel-title>
                            </mat-expansion-panel-header>
                            <form [formGroup]="exhibForm">
                                <div class="row">
                                    <ng-container *ngFor="let item of exhib">
                                        <ng-container *ngIf='item.kod==1'>
                                            <div class="col-12 col-sm-6"> 
                                                <mat-checkbox class='ml-1' formControlName={{item.name}}>
                                                    {{item.name}}
                                                </mat-checkbox>
                                            </div>
                                        </ng-container>    
                                    </ng-container>
                                </div>
                            </form>
                        </mat-expansion-panel>  
                    </div>

                    <div class="reg-form2 mt-5">
                        <mat-expansion-panel class="reg-form3">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="">Відвідані виставки</mat-panel-title> 
                            </mat-expansion-panel-header>
                            {{element.visited_exhib}}
                        </mat-expansion-panel>  
                    </div>

                </div>
            </div>
        </div>
    </div>
    
</form>
<span class="pl-3 pr-5">Запис створено {{this.element.datawnesenny}}. Остання модифікація була зроблена {{this.element.datelastcor}}</span>
<button *ngIf='["База відвідувачів","Відвідали"].includes(tableName)'class='ml-2' mat-raised-button (click)='submit()'>редагувати</button>
<button *ngIf='tableName == "Заявки на внесення"' class='ml-2' mat-raised-button (click)='submit()'>прийняти заявку</button>
<button *ngIf='tableName == "Заявки на зміну"' class='ml-2' mat-raised-button (click)='submit()'>прийняти заявку</button>
<button *ngIf='["База відвідувачів","Заявки на внесення","Заявки на зміну"].includes(tableName)' class='ml-2' mat-raised-button (click)='delete()'>видалити</button>
<ng-container *ngIf = 'worningCheck'>
    <div class="alert alert-warning mt-1" role="alert">{{worningCheck}}</div> 
</ng-container> 