<div class="header">
    <div class="d-flex justify-content-between px-2">
        <div>Назва</div>
        <div>Дата</div>
    </div>
    <mat-divider class="mat-divider-header"></mat-divider>
</div>

<div class="d-flex list align-items-center" (click)='getMessage()'>
    <div class="name">
        <div class="mailing-name text-truncate">Some mailing name & date big name example</div>
        <div class="sender-name">Sergiy</div>
    </div>
    <div class="date text-truncate ">03.01.2020</div>
    <div class="del">
        <mat-icon>clear</mat-icon>
    </div>
</div>

<div class="d-flex list align-items-center" (click)='getMessage()'>
    <div class="name">
        <div class="mailing-name text-truncate">Some mailing name & date big name example</div>
        <div class="sender-name">Sergiy</div>
    </div>
    <div class="date text-truncate ">03.01.2020</div>
    <div class="del">
        <mat-icon>clear</mat-icon>
    </div>
</div>

<div class="d-flex list align-items-center" (click)='getMessage()'>
    <div class="name">
        <div class="mailing-name text-truncate">Some mailing name & date big name example</div>
        <div class="sender-name">Sergiy</div>
    </div>
    <div class="date text-truncate ">03.01.2020</div>
    <div class="del">
        <mat-icon>clear</mat-icon>
    </div>
</div>