 td.mat-cell {
   /* row border */
   border-left: 1px solid rgb(212, 212, 212);
   padding-left: 10px;
   padding-right: 10px;
 }

 th.mat-header-cell{
   text-align: center !important;
   /* background-color: rgb(0, 102, 116); */
   color: white;
   font-weight: bold;
   padding-left: 10px;
   
  /* padding-left: 10px; */
 }
 
 tr.mat-header-row{
  height: 40px;
  /* padding: 10px !important; */
 }

 table {
   /* row spacing / margin */
   width: 100%;
   /* border-spacing: 0 8px !important; */
 } 


tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}


.example-element-detail {
  overflow: hidden;
  display: flex;
  background-color:  rgb(197, 220, 255);
  margin-left: -24px;
  margin-right: -24px;
}



.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
  /* margin: -16px; */
}

.example-element-description-attribution {
  opacity: 0.5;
}

.descr-element{
  padding-left: 10px;
}

.example-loading-shade {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pos{
  position: relative;
}

.sticky {
  position: sticky;
  top: 0px;
  left: 0;
  bottom: 0px;
  right: 0;
  background-color: white;
  z-index: 102;
}

.sticky2 {
  position: sticky;
  top: 40px;
  left: 0;
  bottom: 0px;
  right: 0;
  z-index: 101;
}