<div class="back d-flex justify-content-between flex-column vh-100">
    <!-- <div>
        <h1 class="m-2 text-center">BAZA 2.0</h1>
    </div> -->
    <div class=''>
    
        <form class="example-form back2 max-width mt-5" [formGroup]="loginForm" (ngSubmit)="login()">
        
            <mat-form-field class="form-group example-full-width">
            <input type="text" matInput placeholder="{{'Логін'}}" formControlName="login">
            <mat-error *ngIf="!loginForm.get('login').valid">
                {{'Введіть логін'}}
            </mat-error>
            </mat-form-field>
        
            <mat-form-field class="form-group example-full-width">
            <input type="password" matInput placeholder="{{'Пароль'}}" formControlName="password">
            <mat-error *ngIf="!loginForm.get('password').valid">
                {{'Введіть пароль'}}
            </mat-error>
            </mat-form-field>
             
            <button mat-stroked-button class="btn-lg btn-block py-2">{{'Вхід'}}</button>
            <br>
            <div *ngIf='getSpinner' class="d-flex justify-content-center mt-5">
                <div class="spinner-border text-secondary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div *ngIf='errorMessage' class="alert alert-danger mt-3  max-width" role="alert">{{errorMessage}}</div>
        </form>
        
    </div>
    <div class="m-2 font-weight-bold text-center">
        Акціонерне товариство
        ГАЛ-ЕКСПО®
        вул. В.Винниченка,30
        Львів, 79008, Україна
        тел: +380(322) 970627, 971369
        факс: +380(322) 971756
        E-mail:
        info@galexpo.lviv.ua
    </div>
</div>
