.header{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    font-weight: bold;
    color:  rgb(139, 139, 139);
}
.mat-divider-header{
    border-top-width: 2px;
    /* border-color: rgb(85, 85, 85); */
}
.list{
    /* display: flex; */
    border-bottom: darkgray 1px solid;
    font-size: 12px;
    padding-bottom: 6px;
    padding-top: 6px;
    cursor: default;
    width: 320px;
}

.list:hover{
    background-color:  rgba(224, 236, 255, 0.534);
    border-left:rgb(95, 159, 255) 4px solid; 
    /* font-weight: bold; */
}

.list:hover .del{
    visibility: visible;
} 

.name{
    /* overflow: hidden; */  
    padding-right: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    width: 65%;
    cursor: pointer;
    /* text-overflow: ellipsis; */
}
.date{
    text-align: right;
    margin-right: 2px;
    width: 30%;
}
.del{
    visibility: hidden;
    width: 5%;
    margin-right: 6px;
    color: rgb(255, 0, 0);
    cursor: pointer;
}
.sender-name{
    color:  rgb(139, 139, 139);
}

.sticky {
    position: sticky;
    top: 40px;
    left: 0;
    bottom: 0px;
    right: 0;
    background-color: white;
    z-index: 102;
}
 
.no-send{
    color: red;
    font-size: 11px;
    font-weight: bold;
}

.activated-list{
    background-color:  rgb(193, 216, 255); 
}
.activated-list:hover{
    background-color: rgb(149, 188, 255);;
    border-left:rgb(95, 159, 255) 4px solid; 
    /* font-weight: bold; */
}
 
.example-viewport {
    height: 800px;
}