.width{
    min-width: 400px;
    max-width: 400px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.row-width{
    max-width: 930px;
}
.card-body2{
    margin: 20px;
}
.example-full-width {
    width: 100%;
}