<div class="row m-3 mt-5">
    <div class="col-sm-3">
        <div class="card m-3">
        <div class="card-body">
            <h5 class="card-title font-weight-bold">База відвідувачаів</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <button mat-raised-button color="primary" class="btn-lg btn-block py-2" (click)='getVisitors()'>Вхід</button> 
        </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card m-3">
        <div class="card-body">
            <h5 class="card-title font-weight-bold">База фірм</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <button mat-raised-button color="primary" class="btn-lg btn-block py-2" (click)='getCompanies()'>Вхід</button>
        </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card m-3">
        <div class="card-body">
            <h5 class="card-title font-weight-bold">Таблиці відвідувачів виставок</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <button mat-raised-button color="primary" class="btn-lg btn-block py-2" (click)='getVisitorsExhib()'>Вхід</button>
        </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card m-3">
        <div class="card-body">
            <h5 class="card-title font-weight-bold">Плахти</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <button mat-raised-button color="primary" class="btn-lg btn-block py-2" (click)='getPlahts()'>Вхід</button>
        </div>
        </div>
    </div>
</div>