.example-container {
    display: flex;
    flex-direction: column;
}
  
.example-container > * {
    width: 100%;
}

.send-form{
    border: none;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.legend{
    width: 50px;
    font-weight: bold; 
}

.no-gutter > [class*='col-'] {
    padding:3px;
    /* padding-left:3px; */

}

.example-input{
    padding:3px;
}

.example-textarea{
    height: 400px;
}