<div class="m-3">
    <form class="" [formGroup]="emailForm">
        <div class="row no-gutter">
            <div class="col-auto d-flex align-items-start p-1">
                <button 
                    mat-raised-button
                    matTooltip="Відправити"
                    (click)="send()">
                    <mat-icon color="primary">send</mat-icon>
                </button>
            </div>
            <div class="col  ">
                <div class="row no-gutter">
                    <div class="col-auto   d-flex align-items-center">
                        <div class="legend text-right  ">Кому:</div>
                    </div>
                    <div class="col example-input  ">
                        <input class='send-form p-1' placeholder="Введіть електронні адреси через - ';'" formControlName="to">
                    </div> 
                </div>
                <div class="row no-gutter">
                    <div class="col-auto   d-flex align-items-center">
                        <div class="legend text-right  ">Від:</div>
                    </div>
                    <div class="col example-input  ">
                        <input class='send-form p-1' placeholder="" formControlName="from">
                    </div> 
                </div>
                <div class="row no-gutter">
                    <div class="col-auto   d-flex align-items-center"> 
                        <div class="legend text-right  ">Тема:</div>
                    </div>
                    <div class="col example-input  ">
                        <input class='send-form p-1' placeholder="Введіть тему листа" formControlName="subject">
                    </div> 
                </div>
            </div>
        </div>
        <div class="row  no-gutter">
            <div class="col-auto   d-flex align-items-center p-1">
                <input
                    type="file" 
                    id="your-files" 
                    #fileInput
                    hidden
                    (change)='addFile(fileInput.id)'>
                <button 
                    mat-raised-button
                    matTooltip="Додати файл"
                    (click)='fileInput.click()'>
                    <mat-icon color="primary">attach_file</mat-icon>
                </button>
            </div>
            <div class="col-auto d-flex align-items-center"><div class="text-right">Вкладення:</div></div>
            <div class="col d-flex align-items-center">
                <ng-container *ngFor='let attachment of attachmentsArray; let i = index'>
                    <div class="card-file card-file-1 d-flex justify-content-between">
                        <div class="file-info">
                            <div class="file-name text-truncate"><i>{{attachment.filename}}</i></div>
                            <div class="file-size">{{(attachment.size/1024).toFixed(2)}} KB</div>
                        </div>
                        <button 
                            mat-icon-button 
                            matTooltip="Закрити" 
                            aria-label="Example icon-button with a heart icon"
                            (click)='deleteFileFromMessage(i)'>
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="row no-gutter">
            <div class="col-12  ">
                <textarea class='send-form example-textarea' placeholder="Введіть текст листа" formControlName="message"></textarea>  
            </div>
        </div>
    </form>
    <input
        type="file"
        accept="text/html"
        id="your-html"  
        #fileHTMLInput
        hidden
        (change)='addHtml(fileHTMLInput.id)'>
    <button 
        mat-raised-button
        matTooltip="Додати текст повідомлення в HTML форматі"
        (click)='fileHTMLInput.click()'
        color="primary">
        Add HTML
    </button>
</div>

