<div class="m-3">
    <div class="row">
        <div class="col-1 border border-secondary">
            <button 
                mat-raised-button
                color="primary"
                matTooltip="Відправити">
                <mat-icon>send</mat-icon>
            </button>
        </div>
        <div class="col-11 border border-secondary">
            <div class="row">
                <div class="col-1 border border-secondary">
                    Кому:
                </div>
                <div class="col-11 border border-secondary">
                    <input class='send-form' placeholder="Введіть електронні адреси через - ';'">
                </div> 
            </div>
            <div class="row">
                <div class="col-1 border border-secondary">
                    Тема:
                </div>
                <div class="col-11 border border-secondary">
                    <input class='send-form' placeholder="Введіть тему листа">
                </div> 
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-1 border border-secondary">
            <button 
                mat-raised-button
                color="primary"
                matTooltip="Додати файл">
                <mat-icon>attach_file</mat-icon>
            </button>
        </div>
        <div class="col-1 border border-secondary">Вкладення</div>
        <div class="col-10 border border-secondary">col</div>
    </div>
    <div class="row">
        <div class="col-12 border border-secondary">
            <textarea class='send-form' placeholder="Textarea"></textarea>    
        </div>
    </div>
</div>

