<div class="m-3">
    <div class="row no-gutter">
        <div class="col-auto border border-secondary d-flex align-items-center p-1">
            <button 
                mat-raised-button
                color="primary"
                matTooltip="Відправити">
                <mat-icon>send</mat-icon>
            </button>
        </div>
        <div class="col border border-secondary">
            <div class="row no-gutter">
                <div class="col-auto border border-secondary d-flex align-items-center">
                    <div class="legend text-right border border-secondary">Кому:</div>
                </div>
                <div class="col p-1 border border-secondary">
                    <input class='send-form' placeholder="Введіть електронні адреси через - ';'">
                </div> 
            </div>
            <div class="row no-gutter">
                <div class="col-auto border border-secondary d-flex align-items-center"> 
                    <div class="legend text-right border border-secondary">Тема:</div>
                </div>
                <div class="col p-1 border border-secondary">
                    <input class='send-form' placeholder="Введіть тему листа">
                </div> 
            </div>
        </div>
    </div>
    <div class="row  no-gutter">
        <div class="col-auto border border-secondary d-flex align-items-center p-1">
            <button 
                mat-raised-button
                color="primary"
                matTooltip="Додати файл">
                <mat-icon>attach_file</mat-icon>
            </button>
        </div>
        <div class="col-auto border border-secondary d-flex align-items-center"><div class="text-right">Вкладення</div></div>
        <div class="col border border-secondary">col</div>
    </div>
    <div class="row no-gutter">
        <div class="col-12 border border-secondary">
            <textarea class='send-form' placeholder="Textarea"></textarea>    
        </div>
    </div>
</div>

