.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('../../img/favicon.png');
    background-size: cover;
  }
  .example-header-image2 {
    height: 400px;
    width: 400px;
    /* background-image: url('../../img/tur.png');  */
    /* background-image: url('http://localhost:7001/img/tur.png'); */
    /* background-image: url('https://picsum.photos/200/300?random=2'); */
    background-size: cover;
  }
  .color{
    background-color: rgb(219, 220, 255);
  }
  .text-btn{
    font-size: 10px;
    font-weight: bold;
    margin-top: -18px;
  }
  .text-btn2{
    font-size: 10px;
    font-weight: bold;
    margin-top: -25px;
  }
  .height-btn-group{
    /* box-shadow: 0 0 5px rgba(0,0,0,0.5); */
    height: 50px;
  }