<!-- <button mat-raised-button color="primary" class="px-2" (click)='getPDFAndSend()'>send</button>
<button mat-raised-button color="primary" class="px-2" (click)='testPDF()'>test2</button> -->
<div class="d-flex align-items-stretch justify-content-center mt-2 height-btn-group">
    <button mat-button color="primary" class="px-0 mx-2" (click)='getPDF()'>
        <mat-icon>save</mat-icon>
        <div class="text-btn">зберегти</div>
    </button>
    <button mat-button color="primary" class="px-0 mx-2" (click)='getPDFAndSend()'>
        <mat-icon>email</mat-icon>
        <div class="text-btn">надіслати</div>
        <div class="text-btn2">на емейл</div>
    </button>
    <button mat-button color="primary" class="px-0 mx-2" (click)='onLogin()'>
        <mat-icon>local_activity</mat-icon>
        <div class="text-btn">інше</div>
        <div class="text-btn2">запрошення</div>
    </button>
    <button mat-button color="primary" class="px-0 mx-2" (click)='onLogin()'>
        <mat-icon>home</mat-icon>
        <div class="text-btn">повернутися</div>
    </button>
</div>



<div class="d-flex align-items-center justify-content-center mt-2" id='element-to-print'>
    <mat-card class="example-card color" >
        <mat-card-header class="mb-2">
            <div mat-card-avatar class="example-header-image"></div> 
            <mat-card-title>ЗАПРОШЕННЯ</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header> 
        <!-- <div mat-card-image class="example-header-image2" [style.background-image]="'bud.png'"></div> --> 
        <!-- <div mat-card-image class="example-header-image2"></div>  -->
        <img mat-card-image class="" [src]="getImg()">
        <mat-card-content>
            <p>Шановний(а) <strong>{{prizv }} {{name }} {{pobatkovi}}</strong>, Ви отримали персональне запрошення на виставку.</p>
            <p>Покажіть цей код на вході:</p>
            <p>
                <ngx-barcode [bc-value]='regnum' [bc-display-value]=true [bc-height]=70 [bc-font-size]=14 [bc-format]='bcFormat'></ngx-barcode>
            </p>
            <p>Збережіть це запрошення або відправте собі на електронну пошту або просто покажіть на екрані вашого смартфону</p>
        </mat-card-content>
        <!-- <mat-card-actions class="d-flex justify-content-between">
            <button mat-raised-button color="primary" class="px-2" (click)='onLogin()'>Отримати інше запрошення</button> 
            <button mat-raised-button color="primary" class="px-2" (click)='onLogin()'>Повернутися на сайт</button> 
        </mat-card-actions> -->
    </mat-card>
</div>





