.header{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    font-weight: bold;
    color:  rgb(139, 139, 139);
}
.mat-divider-header{
    border-top-width: 2px;
    /* border-color: rgb(85, 85, 85); */
}
.list{
    /* display: flex; */
    border-bottom: darkgray 1px solid;
    font-size: 12px;
    padding-bottom: 6px;
    padding-top: 6px;
    cursor: default;
    width: 320px;
}

.list:hover{
    background-color:  rgba(182, 210, 255, 0.534);  
    border-left:rgb(95, 159, 255) 4px solid; 
    /* font-weight: bold; */
}

.list:hover .del{
    visibility: visible;
} 

.name{
    /* overflow: hidden; */  
    padding-right: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    width: 60%;
    cursor: pointer;
    /* text-overflow: ellipsis; */
}
.date{
    text-align: right;
    margin-right: 2px;
    width: 35%;
}
.del{
    visibility: hidden;
    width: 5%;
    margin-right: 6px;
    color: rgb(255, 0, 0);
    cursor: pointer;
}
.sender-name{
    color:  rgb(139, 139, 139);
}

.sticky {
    position: sticky;
    top: 0px;
    left: 0;
    bottom: 0px;
    right: 0;
    background-color:  rgb(224, 236, 255);
    z-index: 102;
}
 
.no-send{
    color: red;
    font-size: 11px;
    font-weight: bold;
}

.activated-list{
    background-color:  rgb(193, 216, 255);  
}
.activated-list:hover{
    background-color: rgb(149, 188, 255);;
    border-left:rgb(95, 159, 255) 4px solid; 
    /* font-weight: bold; */
}

.example-loading-shade {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.15);
    width: 350px;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0px; 
    right: 0;
    z-index: 1000;
}

.example-viewport {
    height: 800px;
    width: 340px;
}

.btn-1{
    color: deepskyblue;  
}

.circle{
    margin-left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: red;
    box-shadow: 0 0 5px 1px red;
}