.example-container {
    display: flex;
    flex-direction: column;
}
  
.example-container > * {
    width: 100%;
}

.send-form{
    border: none;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.legend{
    width: 50px;
    font-weight: bold; 
}

.no-gutter > [class*='col-'] {
    padding:3px;
    /* padding-left:3px; */

}

.example-input{
    padding:3px;
}

.example-textarea{
    background-color: white;
    height: 550px;
    overflow: auto;
}

.card-file{
    width: 232px;
    background: #fff;
    border-radius: 4px;
    display: inline-block; 
    position: relative;
    margin-left: 10px;
}

.card-file-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-file-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.file-name{
    font-size: 12px;
    font-weight: bold;
}

.file-size{
    font-size: 12px;
}

a {
    color: #000 !important;
    text-decoration: none
}

.file-info{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 3px;
    padding-left: 6px;
    margin: 0;
    width: 192px;
    background: rgb(255, 255, 255); 
}

.file-info:hover{
    background: rgb(134, 174, 226); 
}
.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 40px;
  }
  
.example-margin {
    margin: 10px;
}

.attachment{
    border: solid black;
}

.attachment2{
    border: solid red;
}

.btn-del:hover{
    color: red;
}
