<div class="mat-elevation-z8 container-fluid">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner></mat-spinner>
    </div>
    <div class="d-flex justify-content-between sticky">
        <span class="ml-5 my-2" [style.color]="headerColor"><strong>{{name}}</strong></span>
        <span class="my-2 name-exhib"><strong>{{getExhibName()}}</strong></span>
        <div class="d-flex justify-content-between">
            <ng-container *ngIf='name == "Відвідали"')>
                <form [formGroup]="visitorsIds" (ngSubmit)="addId()" class="d-flex align-items-center mx-1">
                    <input type="text" class="my-form" formControlName="id_visitor" autofocus>
                    <button mat-icon-button aria-label="Example icon-button with a heart icon" class="but-color">
                        <mat-icon>add_circle_outline</mat-icon>
                    </button>
                </form>
                <mat-divider [vertical]="true"></mat-divider>
            </ng-container>
            <button mat-icon-button [style.color]="headerColor" aria-label="Example icon-button with a heart icon" [matMenuTriggerFor]="menu">
                <mat-icon>add_box</mat-icon>
            </button>
                <mat-menu #menu="matMenu" xPosition="after" yPosition="below">
                    <ng-container *ngFor='let item of keyData'>
                        <button mat-menu-item (click)='addColumn(item)'>{{item}}</button>
                    </ng-container>
                </mat-menu>
            <button mat-icon-button [style.color]="headerColor" aria-label="Example icon-button with a heart icon" [matMenuTriggerFor]="menu2">
                <mat-icon>indeterminate_check_box</mat-icon>
            </button>
                <mat-menu #menu2="matMenu" xPosition="after" yPosition="below">
                    <ng-container *ngFor='let item of displayedColumns'>
                        <button mat-menu-item (click)='removeColumn(item)'>{{item}}</button>
                    </ng-container>
                </mat-menu>
                
            <button mat-icon-button [style.color]="headerColor" aria-label="Example icon-button with a heart icon" [matMenuTriggerFor]="menu3">
                <mat-icon>date_range</mat-icon>
            </button>
                <mat-menu #menu3="matMenu" xPosition="after" yPosition="below">
                    <ng-container>
                        <button mat-menu-item (click)='butGetVis()'>Відвідувачі</button>
                        <button mat-menu-item (click)='butGetReg()'>Зареєстровані</button>
                        <button mat-menu-item (click)='butGetCreateTable()'>Не прийшли</button>
                    </ng-container>
                </mat-menu>
        </div>
    </div>
 
    <table mat-table
        [dataSource]="dataSource" 
        multiTemplateDataRows
        matSort
        class="mat-elevation-z8 border">

        <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header [style.background-color]="headerColor"> {{column}} </th>
            <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="example-element-detail"
                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="example-element-description">
                    <ng-container *ngIf='element == expandedElement'>
                    <app-visitor [element]='element' [tableName]='name' (getData)="getBd($event)"></app-visitor>
                    </ng-container>
                </div>
            </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: false" class="sticky2"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
    
    <mat-paginator [pageSizeOptions]="[i, 15, 30, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
