
    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner></mat-spinner>
    </div>
    <nav class="d-flex justify-content-between sticky">
        <span class="ml-5 my-2" [style.color]="headerColor"><strong>{{name}}</strong></span>
        <span class="my-2 name-exhib"><strong>{{getExhibName()}}</strong></span>
        <div class="d-flex justify-content-between">
            <ng-container *ngIf='name == "Відвідали"')>
                <form [formGroup]="visitorsIds" (ngSubmit)="addId()" class="d-flex align-items-center mx-1">
                    <input type="text" class="my-form" formControlName="id_visitor" autofocus>
                    <button mat-icon-button matTooltip="Додати відвідувача" aria-label="Example icon-button with a heart icon" class="but-color">
                        <mat-icon>add_circle_outline</mat-icon>
                    </button>
                </form>
                <mat-divider [vertical]="true"></mat-divider>
                <button 
                    mat-icon-button 
                    matTooltip="Оновити дані" 
                    aria-label="Example icon-button with a heart icon" 
                    [style.color]="headerColor" 
                    (click)='butGetVis()'>
                    <mat-icon>refresh</mat-icon>
                </button>
                <mat-divider [vertical]="true"></mat-divider>
                <button 
                    mat-icon-button 
                    matTooltip="Видалити обрані записи" 
                    aria-label="Example icon-button with a heart icon" 
                    [style.color]="disabled ? disabledColor : headerColor" 
                    (click)='delVis()'
                    [disabled]='disabled'>
                    <mat-icon>delete</mat-icon>
                </button>
                <mat-divider [vertical]="true"></mat-divider>
                <button 
                    mat-icon-button 
                    [style.color]="disabled ? disabledColor : headerColor" 
                    matTooltip="Змінити тип реєстрації відвідувачів" 
                    aria-label="Example icon-button with a heart icon" 
                    [matMenuTriggerFor]="menu3"
                    [disabled]='disabled'>
                    <mat-icon>settings</mat-icon>
                </button>
                    <mat-menu #menu3="matMenu" xPosition="after" yPosition="below">
                        <mat-radio-group
                            aria-labelledby="example-radio-group-label"
                            class="example-radio-group"
                            [(ngModel)]="typeOfReg"
                            >
                            <mat-radio-button 
                                class="example-radio-button" 
                                *ngFor="let type of types" 
                                [value]="type"
                                (click) = 'setTypeOfReg(type)'>
                                {{type}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </mat-menu>
                <mat-divider [vertical]="true"></mat-divider>
            </ng-container>
            <button mat-icon-button [style.color]="headerColor" matTooltip="Додати поля" aria-label="Example icon-button with a heart icon" [matMenuTriggerFor]="menu">
                <mat-icon>add_box</mat-icon>
            </button>
                <mat-menu #menu="matMenu" xPosition="after" yPosition="below">
                    <ng-container *ngFor='let item of keyData'>
                        <button mat-menu-item (click)='addColumn(item)'>{{item | translate: 'ukr'}}</button>
                    </ng-container>
                </mat-menu>
            <button mat-icon-button [style.color]="headerColor" matTooltip="Видалити поля" aria-label="Example icon-button with a heart icon" [matMenuTriggerFor]="menu2">
                <mat-icon>indeterminate_check_box</mat-icon>
            </button>
                <mat-menu #menu2="matMenu" xPosition="after" yPosition="below">
                    <ng-container *ngFor='let item of displayedColumns'>
                        <button mat-menu-item (click)='removeColumn(item)'>{{item | translate: 'ukr'}}</button>
                    </ng-container>
                </mat-menu>
                
            <button mat-icon-button [style.color]="headerColor" matTooltip="Обрати інші таблиці" aria-label="Example icon-button with a heart icon" [matMenuTriggerFor]="menu3">
                <mat-icon>date_range</mat-icon>
            </button>
                <mat-menu #menu3="matMenu" xPosition="after" yPosition="below">
                    <ng-container>
                        <button mat-menu-item (click)='butGetVis()'>Відвідувачі</button>
                        <button mat-menu-item (click)='butGetReg()'>Зареєстровані</button>
                        <button mat-menu-item (click)='butGetCreateTable()'>Не прийшли</button>
                    </ng-container>
                </mat-menu>
        </div>
    </nav>
<!-- Таблиця -->
<div class="example-container">
    <table mat-table
        [dataSource]="dataSource" 
        multiTemplateDataRows
        matSort
        class="">

        <!-- філтр -->
        <ng-container 
            matColumnDef="{{column}}"
            [sticky]='column.slice(2) == "id_visitor" ? true : false'
            [stickyEnd]='column.slice(2) == "select" ? true : false'
            *ngFor="let column of displayedColumns2">
            <th mat-header-cell *matHeaderCellDef [style.background-color]="headerColor" class="filtr2">

                <!-- filter input -->
                <ng-container *ngIf='column != "f_select"'>
                    <div class="">
                        <input (keyup)="filterController($event.target.value, column.slice(2))" class="filtr">
                    </div>
                </ng-container>

                <!-- filter select ...тут не працює...!!! -->
                <ng-container *ngIf='column == "f_potvid"'>
                    <mat-select 
                        #exhib
                        [formControl]="exhibs" 
                        [disableOptionCentering]="true" 
                        panelClass="myPanelClass" 
                        multiple 
                        class="filtr"
                        (selectionChange)="filterController(exhibs.value, column.slice(2))">
                        <mat-select-trigger>
                            {{exhibs.value ? exhibs.value[0] : ''}}
                            <span *ngIf="exhibs.value?.length > 1" class="example-additional-selection">
                                (+{{exhibs.value.length - 1}} {{exhibs.value?.length === 2 ? 'інший' : 'інші'}})
                            </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let exhib of exhibsList" [value]="exhib" class="">
                            {{exhib}}
                        </mat-option>
                    </mat-select>    
                </ng-container>

            </th>
        </ng-container>

        <!-- основні колонки --> 
        <ng-container *ngFor="let column of displayedColumns">
            <ng-container *ngIf='column != "select"'>
                <ng-container 
                    matColumnDef="{{column}}" 
                    [sticky]='column == "id_visitor" ? true : false'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [style.background-color]="headerColor"> {{column | translate: 'ukr'}} </th>
                    <td 
                        mat-cell 
                        *matCellDef="let element"> 
                        {{element[column]}} 
                    </td>
                </ng-container>   
            </ng-container>
        </ng-container>

        <!-- деталі -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="example-element-detail"
                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="example-element-description">
                    <ng-container *ngIf='element == expandedElement'>
                    <app-visitor [element]='element' [tableName]='name' (getData)="getBd(exhib_id, 1)"></app-visitor>
                    </ng-container>
                </div>
            </div>
            </td>
        </ng-container>

        <!-- додаткові колонки -->
        <ng-container matColumnDef="select" stickyEnd>
            <th mat-header-cell *matHeaderCellDef [style.background-color]="headerColor" class="pt-2">
              <mat-checkbox (change)="$event ? masterToggle($event) : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()"
                            color="primary">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row" class="">
              <mat-checkbox (click)="$event.stopPropagation();"
                            (change)="$event ? selectRow($event, row) : null"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)"
                            color="primary"
                            class="align-middle">
              </mat-checkbox>
            </td>
        </ng-container>
 
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: false" class="sticky2"></tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: false" class="sticky3"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
</div>    
    <mat-paginator [pageSizeOptions]="[i, 15, 30, 50, 100]" showFirstLastButtons></mat-paginator>

