<!-- форма для створення листа -->
<div class="add-item" *ngIf="isAddingItemSendEmail">
    <div class="back-add-item-element overflow-auto w-75">
        <div class="panel-add-item-element d-flex justify-content-between align-items-center sticky-top">
            <div class="header-panel-add-item-element"><strong>Надіслати лист</strong></div>
            <button 
                mat-icon-button 
                matTooltip="Закрити" 
                aria-label="Example icon-button with a heart icon" 
                (click)='newElement("isAddingItemSendEmail")'>
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <div class="p-3 overflow-auto">
            <app-email></app-email> 
        </div> 
    </div>  
</div>

<mat-sidenav-container class="example-container" hasBackdrop="false">
    <mat-sidenav 
        #drawer1
        opened
        class="example-sidenav" 
        mode="side">
        <div class="panel-add-item-element d-flex justify-content-between align-items-center sticky-top">
            <div class="header-panel-add-item-element">Список розсилок</div>
        </div>
        <div class="mx-1 mailinglist">
            <app-mailinglist></app-mailinglist>
        </div>
    </mat-sidenav
    >
    <mat-sidenav-content>

        <mat-sidenav-container class="example-container" hasBackdrop="false">
            <mat-sidenav 
                #drawer2
                opened
                class="example-sidenav" 
                mode="side">
                <div class="panel-add-item-element d-flex justify-content-between align-items-center sticky-top">
                    <div class="header-panel-add-item-element">Розсилка</div>
                </div>
            </mat-sidenav>
            <mat-sidenav-content>
                <div class="panel-add-item-element d-flex justify-content-between align-items-center sticky-top">
                    <div>
                        <button 
                            mat-icon-button 
                            matTooltip="Список розсилок" 
                            aria-label="Example icon-button with a heart icon" 
                            (click)='drawer1.toggle()'>
                            <mat-icon>list_alt</mat-icon>
                        </button>
                        <button 
                            mat-icon-button 
                            matTooltip="Розсилка" 
                            aria-label="Example icon-button with a heart icon" 
                            (click)='drawer2.toggle()'>
                            <mat-icon>view_list</mat-icon>
                        </button>
                    </div>
                    <div class="header-panel-add-item-element">Новий лист</div>
                </div>
                <div class="conteiner-email">
                    <div class="email">
                        <app-email></app-email>
                    </div>
                </div>
            </mat-sidenav-content> 
        </mat-sidenav-container>

    </mat-sidenav-content> 
</mat-sidenav-container>
  


